.chat__chat-footer {
    background: #ccc;
}

.chat-footer__pagination {
    list-style: none;
    display: flex;
    margin: 0;
}

.chat-footer__pagination-container {
    display: flex;
    justify-content: flex-end;
    padding: 5px 20px;
}

.pagination__item {
    font-size: 14px;
    margin: 0 5px;
}
