.chat-body__chat-message {
  position: relative;
  background: lightgrey;
  width: 60%;
  padding: 5px 5px 5px 5px;
  margin: 1.5rem 0 1rem;
  display: flex;
  border: 1px solid #222;
  border-left: none;
}

.chat-body__chat-message_user-current {
  align-self: flex-end;
  border-left: 1px solid #222;
  border-right: none;
}

.chat-message__user-avatar-wrapper {
  min-width: 50px;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.chat-message__user-avatar {
  width: 100%;
  height: 100%;
}

.chat-message__text-wrapper {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.chat-message__message-header {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.chat-message__text {
  margin: 0;
  margin-bottom: 5px;
}

.message-icon {
  cursor: pointer;
  color: #222;
  font-size: 16px;
  margin-right: 3px;
}

.message-icon:hover,
.message-icon:active {
  color: #555;
}

.chat-message__message-meta {
  display: flex;
  justify-content: space-between;
}

.message-meta__message-icons {
  display: flex;
  align-items: center;
}

.message-icons__likes-block {
  display: flex;
  align-items: center;
  color: #222;
}

.message-icons__likes-block:hover {
  color: #555;
}

.message-meta__time-send {
  position: absolute;
  right: 1rem;
  font-size: 10px;
  color: #666;
  cursor: default;
}

.message-meta__like-icon {
  color: inherit;
}

.message-meta__like-icon:active,
.message-meta__like-icon:hover {
  color: inherit;
}

.message-meta__like-icon_state-active {
  color: #0080ff;
}

.message-meta__like-icon_state-active:hover,
.message-meta__like-icon_state-active:active {
  color: #6593f5;
}

.message-meta__like-icon_owner-current-user {
  cursor: default;
}

.likes-block__likes-count {
  margin-right: 3px;
}

.chat-body__chat-message .hidden-until {
  display: none;
}

.chat-body__chat-message:hover .hidden-until {
  display: inline;
}
