.chat__chat-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #222;
  padding: 1rem;
  margin-bottom: 1rem;
}

.chat-header__name {
  font-size: 14px;
  display: flex;
  margin-bottom: 0;
  font-weight: 400;
}

.chat-header__general-inf {
  display: flex;
  align-items: center;
  font-weight: 400;
}

.chat-header__users-count {
  cursor: pointer;
}

.chat-header__general-inf-item {
  margin-left: 1rem;
}

.char-header__date {
  cursor: default;
  margin-right: 1rem;
}

.chat-header__users {
  cursor: default;
  position: absolute;
  z-index: 3;
  padding: 1rem 2rem;
  background: #ddd;
}

.chat-header__user-list {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  
}

.chat-header__user-list-item {
  cursor: text;
}

.chat-header__users {
  box-shadow: 0 0 7px 3px #888;
}
