.chat__message-input-wrapper {
  margin-top: 1rem;
}

.chat__message-input-form {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.message-input-form__message-input {
  padding: 0.5rem;
  resize: none;
  width: 80%;
}

.message-input-form__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 19%;
}

.submit-button__icon {
  margin-right: 1rem;
}
