.login-page__login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form__item {
  margin-top: 0.5rem;
}

.submit-buttons-wrapper {
  display: flex;
  justify-content: center;
}

.login-form__submit-button {
  margin-right: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.login-form__field {
  padding: 0.5rem;
  border: 1px solid #222;
}
