.chat__modal-backdrop {
  display: inline-flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(20, 20, 20, 0.33);
}

.chat__modal-container {
  width: 300px;
  min-height: 200px;
  max-height: 300px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-container__edit {
  resize: none;
  max-width: 100%;
  height: 130px;
  width: 200px;
}

.modal-container__buttons {
  margin-top: 5px;
}

.modal-container__submit-edit-button,
.modal-container__cancel-edit-button {
  color: #222;
  margin-right: 5px;
  cursor: pointer;
  padding: 3px 1rem;
}
